<section class="about" id="about">
    <div class="wrap">
        <h2>O KONKURSIE</h2>

        <a href="{{ asset('/uploads/REGULAMIN_PROMOCJI_GROOMING.pdf') }}" class="promo"><strong>ZOBACZ</strong> Regulamin Promocji &gt;</a>
        <a href="{{ asset('/uploads/REGULAMIN_KONKURSU_GROOMING.pdf') }}" class="regul"><strong>ZOBACZ</strong> Regulamin Konkursu &gt;</a>

        <div class="row r1">
            <p class="p1">JAK ZGARNĄĆ NIEZNISZCZALNĄ LATARKĘ VARTA?</p>
        </div>

        <div class="row r2">
            <div class="box">
                <div class="nb">1.</div>
                <p><strong>KUP</strong> wybrany produkt spośród golarek, trymerów lub maszynek do włosów marki REMINGTON.</p>
            </div>

            <div class="box">
                <div class="nb">2.</div>
                <p><strong>WYPEŁNIJ FORMULARZ</strong> rejestracyjny, pamiętając o wpisaniu numeru paragonu.</p>
            </div>

            <div class="box">
                <div class="nb">3.</div>
                <p><strong>WYTNIJ KOD KRESKOWY</strong> z opakowania produktu promocyjnego i wraz z kopią paragonu wyślij na adres:</p>
                <p>Loyal Concept “PRZYGOTUJ SIĘ NA KAŻDĄ SYTUACJĘ”<br />ul. Tużycka 8 lok.6, 03-683 Warszawa.</p>
            </div>

            <div class="box">
                <div class="nb">4.</div>
                <p><strong>CZEKAJ</strong> na niezniszczalną latarkę VARTA</p>
            </div>

            <div class="clear"></div>
        </div>

        <div class="row r3">
            <p class="p2">A może <strong>SURVIVAL CAMP</strong> do tego?</p>
            <p class="p3">Walcz o jedno z <strong>5 miejsc</strong> na wyjeździe survivalowym z byłymi GROM-owcami.</p>
        </div>

        <div class="clear"></div>

        <div class="row r4">
            <a href="/wygraj-wyjazd/" class="box last">
                <div class="nb">5.</div>
                <p><strong>Odpowiedz na pytanie:</strong> <br />„W jakich warunkach chciałbyś wypróbować produkty REMINGTON?”</p>
            </a>
        </div>

        <div class="row r5">
            <p class="p4">Najciekawsze zgłoszenia zostaną wyłonione podczas głosowania internautów, którego <br />wyniki poznacie na tej stronie <strong>27.01.2015 r.</strong></p>
        </div>

        <div class="row">
            <a href="#contact" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>