<section class="awards" id="awards">
    <div class="wrap">
        <h2>NAGRODY</h2>

        <div class="box">
            <img src="{{ asset('/images/1450.png') }}" alt="latarka">
            <p class="title">niezniszczalny gratis<span>*</span></p>
            <h3>LATARKA VARTA INDESTRUCTIBLE 2AA</h3>
            <p class="strong">Wodoszczelna, odporna na uderzenia i wstrząsy, niezniszczalna latarka, która sprawdzi się nawet w ekstremalnie trudnych warunkach.</p>
            <p>Wysokie parametry użytkowe zapewnia jej korpus wykonany z hartowanego aluminium lotniczego. Urządzenie bez problemu znosi upadek z wysokości nawet 9 metrów. Zasilana dwoma bateriami AA. Latarka emituje snop światła o mocy do 100 lumenów i zasięgu 150 metrów. Tryb energooszczędny pozwala na nawet 35 godzin nieprzerwanego świecenia.</p>

            <p class="sub"><span>*</span>Liczba latarek jest ograniczona.</p>
        </div>
        <div class="box">
            <img src="{{ asset('/images/1451.png') }}" alt="survival">
            <p class="title">NAGRODA SPECJALNA</p>
            <h3>3-dniowy Survival Camp z byłymi <br />GROM-owcami</h3>
            <p class="strong">5 zwycięzców wyjedzie w maju 2015 r. na 3-dniowy Survival Camp na terenie Gór Świętokrzyskich.</p>
            <p>5 zwycięzców wyjedzie w dniach 8-10 maja 2015 na 3-dniowy Survival Camp na terenie Gór Świętokrzyskich. W planie m.in. szkolenia survivalowe, budowanie baz przejściowych, górskie marsze, przerwy na sen  w terenie i oczywiście - wyżywienie survivalowe. Opiekę nad obozem obejmą byli żołnierze JW GROM i instruktorzy GRAK. Uczestnicy otrzymają certyfikaty oraz mini pakiety survivalowe.</p>

            <p class="sub">5 zwycięzców wybierzemy na podstawie głosów internautów w konkursie survivalowym.</p>
        </div>
        <div class="clear"></div>
    </div>
</section>