<section class="lax-one" id="parallax1">
    <div class="border" style="width: 447px; height: 310px; background-image: url('{{ asset('/images/1336.png') }}'); position: absolute; display: block; top: -310px;"></div>
    <section id="trigger2" style="position: absolute; top: 50%;"></section>
</section>