<section class="slider" id="slider">
    <div class="cycle-slideshow"
         data-cycle-fx="scrollHorz"
         data-cycle-auto-height=false
         data-cycle-slides="> .slide"
         data-cycle-timeout=6000
         data-cycle-pager=".pager .wrap .cycle-pager"
    >
        <div class="pager">
            <div class="wrap">
                <div class="cycle-pager"></div>
            </div>
        </div>
        <div class="cycle-overlay"></div>
        <div class="slide" id="slide2" style="background-image: url('{{ asset('/images/1146.jpg') }}');">
            <div class="wrap">
                <div class="text">
                    <span class="h1">PRZYGOTUJ SIĘ</span>
                    <span class="sh1">na każdą sytuację z produktami marki REMINGTON.</span>

                    <span class="desc">KUP wybrany produkt spośród golarek, trymerów lub maszynek do włosów REMINGTON i odbierz gratis: <br /><a href="/odbierz-latarke/">niezniszczalną latarkę VARTA  &gt;&gt;&gt;</a></span>
                </div>
            </div>
        </div>
        <div class="slide" id="slide3" style="background-image: url('{{ asset('/images/1147.jpg') }}');">
            <div class="wrap">
                <div class="text">
                    <span class="h1">WYPEŁNIJ FORMULARZ</span>
                    <span class="sh1">na każdą sytuację z produktami marki REMINGTON.</span>

                    <span class="desc">Zmobilizuj znajomych do głosowania. <br /><a href="/wygraj-wyjazd/">Wygraj  3-dniowy survival z byłymi GROM-owcami  &gt;&gt;&gt;</a></span>
                </div>
            </div>
        </div>
        <div class="slide" id="slide1" style="background-image: url('{{ asset('/images/1145.jpg') }}');">
            <div class="wrap">
                <div class="text">
                    <span class="h1">NOWOŚĆ</span>
                    <span class="sh1">marki REMINGTON:</span>

                    <span class="h2">PRAKTYCZNIE NIEZNISZCZALNA STRZYŻARKA DO WŁOSÓW</span>

                    <ul>
                        <li><span>- Mocny silnik</span> 7.4 V</li>
                        <li><span>- Masywna poliwęglanowa obudowa</span> chroni przed upadkiem, uderzeniem i kroplami</li>
                        <li><span>- 10 lat gwarancji</span> na silnik</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="step">
            <img src="{{ asset('/images/1440.png') }}" alt="kroki" />
        </div>

    </div>
</section>