<section class="take" id="take">
    <div class="wrap">
        <h2>UPŁYNĄŁ TERMIN PRZYJMOWANIA ZGŁOSZEŃ DO KONKURSU.</h2>

        <div class="row">
            <p>Zakończyliśmy przyjmowanie zgłoszeń do konkursu Przygotuj Się Na Każdą Sytuację.</p>
        </div>

        <div class="row">
            <p>Dziękujemy za przesłane zgłoszenia!</p>
        </div>

        <div class="row">
            <a href="#vote_anchor" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>