$font-primary: 'museo300';
$font-secondary: 'capture_it';
$font-tertiary: 'museo700';

$color-primary: #f5f5f5;
$color-secondary: #1d1d1c;
$color-tertiary: #ffda00;
$color-black: #000000;

$border-image-primary: repeating-linear-gradient(0deg, $color-primary, $color-primary 20px, transparent 20px, transparent 31px, $color-primary 31px), repeating-linear-gradient(90deg, $color-primary, $color-primary 20px, transparent 20px, transparent 31px, $color-primary 31px), repeating-linear-gradient(180deg, $color-primary, $color-primary 20px, transparent 20px, transparent 31px, $color-primary 31px), repeating-linear-gradient(270deg, $color-primary, $color-primary 20px, transparent 20px, transparent 31px, $color-primary 31px);
$border-size-primary: 5px 100%, 100% 5px, 5px 100%, 100% 5px;
$border-position-primary: 0 0, 0 0, 100% 0, 0 100%;

