<div id="containerCommunicates" class="communicates">
    <div id="info-flash-box" class="communicate{if $messageClass} {$messageClass}{/if}">
        <span class="content">{if $message}{$message}{/if}</span>
    </div><!-- communicate -->
</div>