<html lang="pl">
<head>
    <title>MAILING</title>
</head>
<body style="background-color: #ffda00;">
<h1 style="text-align: center; padding: 40px 0 20px 0; color:#1d1d1b;">Dziękujemy za potwierdzenie <br />zgłoszenia.</h1>
<p style="text-align: center; font-size: 14px; color:#1d1d1b;">Aby otrzymać niezniszczalny gratis, wyślij kopię paragonu <br />i wycięty kod kreskowy z opakowania produktu REMINGTON na adres:</p>
<p style="text-align: center; font-size: 14px; color:#1d1d1b;"><strong>Loyal Concept <br />„PRZYGOTUJ SIĘ NA KAŻDĄ SYTUACJĘ” <br />ul. Tużycka 8 lok. 6, <br />03-683 Warszawa.</strong></p>
<p style="text-align: center; font-size: 13px; color:#1d1d1b;">Pamiętaj, że zgłoszenie zawierające wymienione powyżej elementy należy wysłać w ciągu <strong>14 dni</strong> <br />od daty wskazanej na dowodzie zakupu, ale nie później niż do <strong>29.12.2014 r.</strong> <br />O zachowaniu terminu decyduje data stempla pocztowego.</p>
<p style="text-align: center; font-size: 14px; padding: 20px 0 40px 0; color:#1d1d1b;">Gratis w postaci niezniszczalnej latarki VARTA zostanie Ci przesłany na adres wskazany w formularzu <br />w ciągu <strong>30 dni roboczych</strong> od dnia wpływu dowodów zakupu do siedzimy Loyal Concept.</p>
</body>
</html>
