{% extends 'base.html.twig' %}

{% block title %}Remington - Każda Sytuacja - Podziękowania{% endblock %}

{% block body %}
    <section class="response" id="response">
        <div class="wrap">
            <h2>Dziękujemy za przesłanie <br />zgłoszenia.</h2>
            <div class="row">
                <p>Twoje zgłoszenie konkursowe zostało właśnie opublikowane. <br />Możesz je zobaczyć <a href="/#vote"><strong>tu</strong></a>. <br />Namów znajomych do głosowania i walcz o majowy Survival Camp z byłymi GROM-owcami. <br />Głosowanie trwa do <strong>12.01.2015 r.</strong> Ogłoszenie wyników nastąpi <strong>27.01.2015 r.</strong></p>
                <p>Aby otrzymać niezniszczalny gratis, wyślij kopię paragonu <br />i wycięty kod kreskowy z opakowania produktu REMINGTON na adres:</p>
                <p><strong>Loyal Concept <br />„PRZYGOTUJ SIĘ NA KAŻDĄ SYTUACJĘ” <br />ul. Tużycka 8 lok. 6, </br />03-683 Warszawa.</strong></p>
                <p style="font-size: 13px;">Pamiętaj, że zgłoszenie zawierające wymienione powyżej elementy należy wysłać w ciągu <strong>14 dni</strong> <br />od daty wskazanej na dowodzie zakupu, ale nie później niż do <strong>29.12.2014 r.</strong> <br />O zachowaniu terminu decyduje data stempla pocztowego.</p>
                <p>Gratis w postaci niezniszczalnej latarki VARTA zostanie Ci przesłany na adres wskazany w formularzu <br />w ciągu <strong>30 dni roboczych</strong> od dnia wpływu dowodów zakupu do siedzimy Loyal Concept.</p>
            </div>

            <div class="clear"></div>
        </div>
    </section>
{% endblock %}